body {
    background-color: #fff;
}

.left-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 13vw;
    background-color: #fff;
    margin-right: 1px solid #eff3f4;

}

.feed {
    margin-left: 13vw;
    height: fit-content;
    width: 48vw;
    border: 1px solid #eff3f4;
    background-color: #Fff;
}

.feed .filter {
    position: fixed;
    top: 0;
    width: 48vw;
    height: 100px;
    background-color: #fff;
    opacity: 0.9;
    border-bottom: 1px solid #eff3f4;
}

.filter h2 {
    margin-left: 20px;
    margin-top: 20px;
}

.feed .new-post-container {
    margin-top: 100px;
    width: 48vw;
    height: 200px;
    background-color: #FFFF;
    border-bottom: 1px solid #eff3f4;
}

.new-post-container img,
.post-container img {
    float: left;
    margin-top: 2.5vh;
    margin-left: 1vw;
    height: 45px;
    width: 45px;
    background-color: #eee;
    border-radius: 100%;
}

.new-post-container textarea {
    margin-left: 1vw;
    margin-top: 5vw;
    width: 35vw;
    height: 75px;
    resize: none;

    overflow: hidden;
    font-size: 16px;
    border: none;

}


textarea:focus {

    outline: none;
}

.new-post-container .post-tools {

    float: right;
    margin-right: 2.5vh;
    border-top: 1px solid #eff3f4;
    height: fit-content;
    width: 35vw;
}

.post-tools input[type="submit"] {
    margin-top: 7.5px;
    height: 40px;
    width: 80px;
    float: right;

    border-radius: 30px;
    text-align: center;
    border: none;
    background-color: #1d9bf0;
    color: #fff;
    padding: 10px;
    line-height: 20px;
}

.post-tools input[type="submit"]:hover {

    background-color: #238dd8;
}



.post-container {
    width: 100%;
    height: 150px;

    background-color: #Fff;
    border-bottom: 1px solid #eff3f4;
}

.post-container:hover {
    background-color: #f7f7f7;
}

.post-container .text-container {
    margin-top: 5vh;
    float: right;
    width: 41vw;
    height: 75px;
    background-color: transparent;
    padding: 0 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-sizing: border-box;

}



/* Stängde av gilla knappen */

/* 
.post-container .like-btn {
    margin-top: -28px;
    margin-right: 5px;
    background-color: transparent;
    color: #667382;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;

    float: right;

}

.post-container .like-btn:hover {
    background-color: #f7e0eb;
    color: #f83c92;

} */